.destination-desktop {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.destination-tablet,
.destination-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    display: none;
}

.destination-text span {
    mix-blend-mode: normal;
    opacity: 0.25;
    font-weight: 700;
    color: white;
}

.destination-text h1 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 4.725px;
    color: white;
    padding: 10rem 0 0 10rem;
    font-family: var(--font-family1);
}

.destination-arrays {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}

.arrays-image img {
    width: 410px;
    height: 410px;
}

.arrays-text {
    width: 30%;
}

.arrays-text-list ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.arrays-text-list ul li {
    color: white;
    font-weight: 300;
    padding-bottom: 1rem;
    cursor: pointer;
    font-family: var(--font-family1);
    font-size: 16px;
    letter-spacing: 2.7px;

}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}

.arrays-text-details h1 {
    color: white;
    font-size: 100px;
    font-weight: 400;
    padding: 10px 0;
    font-family: var(--font-family2);
}

.arrays-text-details p {
    color: #D0D6F9;
    font-family: var(--font-family1);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding: 1rem 0 3rem 0;
    border-bottom: 1px solid rgb(143, 143, 143);
}

.arrays-text-details-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.distance,
.travel-time {
    display: flex;
    flex-direction: column;
}

.distance span,
.travel-time span {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.3625px;
    color: #D0D6F9;
    font-family: var(--font-family1);
    text-transform: uppercase;
}

.distance h2,
.travel-time h2 {
    color: white;
    font-weight: 400;
    font-size: 28px;
    padding-top: 1rem;
    font-family: var(--font-family2);
    text-transform: uppercase;
}

@media screen and (max-width: 1440px) {
    .destination-desktop {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .arrays-image img {
        width: 300px;
        height: 300px;
    }

    .destination-text h1 {
        font-size: 20px;
        padding: 10rem 0 0 5rem;
    }
    .destination-desktop {
        display: none;
    }
    
    .destination-tablet {
        display: block;
    }

    .destination-arrays {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .arrays-text {
        padding: 3rem 5rem 0 5rem;
        width: 100%;
    }

    .arrays-text-list ul {
        justify-content: center;
        align-items: center;
    }

    .arrays-text-details h1 {
        font-size: 80px;
    }

    .arrays-text-details p {
        font-size: 16px;
        padding: 0 0 3rem 0;
    }
}

@media screen and (max-width: 425px) {
    .destination {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .arrays-image img {
        width: 291px;
        height: 291px;
    }

    .destination-text h1 {
        font-size: 16px;
        padding: 8rem 0 0 0;
    }
    .destination-desktop,
    .destination-tablet {
        display: none;
    }

    .destination-mobile {
        display: block;
    }

    .destination-arrays {
        padding-top: 1.5rem;
    }

    .arrays-text {
        padding: 1rem 5rem 0 5rem;
    }

    .arrays-text-list ul {
        gap: 1.1rem;
    }
    .arrays-text-list ul li {
        font-size: 14px;
    }

    .arrays-text-details h1 {
        font-size: 56px;
    }

    .arrays-text-details p {
        font-size: 15px;
        padding: 0 0 2rem 0;
        line-height: 25px;
    }

    .arrays-text-details-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .distance h2, .travel-time h2 {
        padding-top: 10px;
    }
}
@media screen and (max-width: 375px) {
    .arrays-image img {
        width: 200px;
        height: 200px;
    }
    .arrays-text-list ul {
        gap: 1rem;
    }
    .arrays-text-list ul li {
        font-size: 10px;
    }
    .arrays-text-details h1 {
        font-size: 46px;
    }
    .arrays-text-details p {
        font-size: 14px;
    }
    .distance span, .travel-time span {
        font-size: 12px;
    }
    .distance h2, .travel-time h2 {
        font-size: 18px;
    }
}